#corpo{
    background-image: url("./imagens/corpo.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.criarSites{
    width: 540px;
    height: 300px;
    border-radius: 5px;
}

.formulario{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.galeria{
    cursor: pointer;
}